* {
  box-sizing: border-box;
}

.learn-section {
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
}

.learn-title {
  text-align: justify;
  font-size: 46px;
  font-family: 'poppins';
  font-weight: 800;
  margin-bottom: 50px;
  background: linear-gradient(90deg, #1F84B5, #90DA72);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* GRID */
.learn-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

/* CARD */
.learn-card {
  border: 4px solid #9EE144;
  padding: 22px;
  border-radius: 4px;
  background: #fff;
  transition: transform 0.2s ease;
}

.learn-card h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #1E6B89;
}

.learn-card p {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.6;
  color: #333;
}

/* Hover (Desktop only feel) */
@media (hover: hover) {
  .learn-card:hover {
    transform: translateY(-4px);
  }
}

/* ================= RESPONSIVE ================= */

/* Tablet */
@media (max-width: 1024px) {
  .learn-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .learn-title {
    font-size: 24px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .learn-grid {
    grid-template-columns: 1fr;
  }

  .learn-title {
    font-size: 22px;
  }

  .learn-card {
    padding: 20px;
  }
}
